h1 {
  text-align: center;
  text-shadow: 0 0 3px red;
  font-size: 3rem;
  margin-top: 0.5%;
  margin-bottom: 3%;
}
.remove-btn {
  display: block;
  margin-top: 20px;
  background-color: #4856f2;
  color: white;
  padding: 15px;
  font-size: 1.1rem;
  margin: 1%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transition: 0.4s;
}
.remove-btn:hover {
  background-color: red;
}
